<div class="container">
    <div class="up">
        <div class="navbar">
            <p class="title" routerLink="/">Angular Tutoiral</p>
            <a class="nav" routerLink="/custom-data-store" routerLinkActive="active">自定义单一数据源</a>
            <a class="nav" routerLink="/redux-data-store" routerLinkActive="active">Redux单一数据源</a>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="down">
    </div>
</div>