<h1>Customer Home Works!</h1>
<hr>
<div class="nav">
    <!-- <a routerLink="/customer/product/dynamic/apple" routerLinkActive="active">Apple</a>
    <a routerLink="/customer/product/dynamic/orange" routerLinkActive="active">Orange</a> -->

    <a routerLink="/customer/dynamic/product/search" routerLinkActive="active">Search</a>
    <a routerLink="/customer/dynamic/product/list" routerLinkActive="active">List</a>
    <a routerLink="/customer/dynamic/product/detail/a1" routerLinkActive="active">Detail/a1</a>
</div>
<br>
<br>
<router-outlet></router-outlet>