<h1>Customer Home Works!</h1>
<hr>
<div class="nav">
    <a routerLink="/customer/dynamic/product/search" routerLinkActive="active">Search</a>
    <a routerLink="/customer/dynamic/product/list" routerLinkActive="active">List</a>
    <a routerLink="/customer/dynamic/product/detail/a1" routerLinkActive="active">Detail/a1</a>
    <a routerLink="/customer/dynamic/product/detail/a1" routerLinkActive="active">Detail/a1</a>
    <a routerLink="/customer/dynamic/product/detail/a2" routerLinkActive="active">Detail/a2</a>
    <a routerLink="/customer/dynamic/product/detail/a3" routerLinkActive="active">Detail/a3</a>
    <!-- <a routerLink="/customer/dynamic/product/search" [queryParams]="{name: 'leon'}" routerLinkActive="active">Search
        ?</a>
    <a routerLink="/customer/dynamic/product/list" [queryParams]="{age: 8}"  routerLinkActive="active">List ?</a>
    <a routerLink="/customer/dynamic/product/detail/a1" [queryParams]="{gender: 0}"  routerLinkActive="active">Detail/a1 ?</a> -->
</div>
<br>
<br>
<router-outlet></router-outlet>